In [160]:
import requests
import sys
import pandas as pd
import json
from pandas.io.json import json_normalize

In [161]:
# openweathermap.org url to pull data from their weather api
url = 'https://api.openweathermap.org/data/2.5/forecast?zip=55016,us&appid=d7fea725e801106f403a9f54ebbf5bff&units=imperial'

# pull api json data and save it as dictionary
data = requests.get(url).json()
data

{u'city': {u'coord': {u'lat': 44.8308, u'lon': -92.9393},
  u'country': u'US',
  u'name': u'Cottage Grove',
  u'sunrise': 1573909811,
  u'sunset': 1573944185,
  u'timezone': -21600},
 u'cnt': 40,
 u'cod': u'200',
 u'list': [{u'clouds': {u'all': 100},
   u'dt': 1573916400,
   u'dt_txt': u'2019-11-16 15:00:00',
   u'main': {u'grnd_level': 988,
    u'humidity': 88,
    u'pressure': 1023,
    u'sea_level': 1023,
    u'temp': 35.31,
    u'temp_kf': -0.13,
    u'temp_max': 35.55,
    u'temp_min': 35.31},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'overcast clouds',
     u'icon': u'04d',
     u'id': 804,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 163, u'speed': 15.28}},
  {u'clouds': {u'all': 100},
   u'dt': 1573927200,
   u'dt_txt': u'2019-11-16 18:00:00',
   u'main': {u'grnd_level': 987,
    u'humidity': 71,
    u'pressure': 1021,
    u'sea_level': 1021,
    u'temp': 41.13,
    u'temp_kf': -0.1,
    u'temp_max': 41.31,
    u'temp_min': 41.13},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'overcast clouds',
     u'icon': u'04d',
     u'id': 804,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 170, u'speed': 15.75}},
  {u'clouds': {u'all': 85},
   u'dt': 1573938000,
   u'dt_txt': u'2019-11-16 21:00:00',
   u'main': {u'grnd_level': 983,
    u'humidity': 68,
    u'pressure': 1018,
    u'sea_level': 1018,
    u'temp': 41.52,
    u'temp_kf': -0.07,
    u'temp_max': 41.63,
    u'temp_min': 41.52},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'overcast clouds',
     u'icon': u'04d',
     u'id': 804,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 170, u'speed': 13.27}},
  {u'clouds': {u'all': 89},
   u'dt': 1573948800,
   u'dt_txt': u'2019-11-17 00:00:00',
   u'main': {u'grnd_level': 984,
    u'humidity': 83,
    u'pressure': 1018,
    u'sea_level': 1018,
    u'temp': 36.9,
    u'temp_kf': -0.04,
    u'temp_max': 36.95,
    u'temp_min': 36.9},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'overcast clouds',
     u'icon': u'04n',
     u'id': 804,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 166, u'speed': 10.94}},
  {u'clouds': {u'all': 100},
   u'dt': 1573959600,
   u'dt_txt': u'2019-11-17 03:00:00',
   u'main': {u'grnd_level': 982,
    u'humidity': 88,
    u'pressure': 1017,
    u'sea_level': 1017,
    u'temp': 36.63,
    u'temp_kf': 0,
    u'temp_max': 36.63,
    u'temp_min': 36.63},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'overcast clouds',
     u'icon': u'04n',
     u'id': 804,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 176, u'speed': 11.34}},
  {u'clouds': {u'all': 100},
   u'dt': 1573970400,
   u'dt_txt': u'2019-11-17 06:00:00',
   u'main': {u'grnd_level': 981,
    u'humidity': 86,
    u'pressure': 1015,
    u'sea_level': 1015,
    u'temp': 36.59,
    u'temp_kf': 0,
    u'temp_max': 36.59,
    u'temp_min': 36.59},
   u'rain': {u'3h': 0.31},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'light rain',
     u'icon': u'10n',
     u'id': 500,
     u'main': u'Rain'}],
   u'wind': {u'deg': 181, u'speed': 7.58}},
  {u'clouds': {u'all': 100},
   u'dt': 1573981200,
   u'dt_txt': u'2019-11-17 09:00:00',
   u'main': {u'grnd_level': 979,
    u'humidity': 93,
    u'pressure': 1013,
    u'sea_level': 1013,
    u'temp': 35.91,
    u'temp_kf': 0,
    u'temp_max': 35.91,
    u'temp_min': 35.91},
   u'rain': {u'3h': 1.44},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'light rain',
     u'icon': u'10n',
     u'id': 500,
     u'main': u'Rain'}],
   u'wind': {u'deg': 203, u'speed': 7.02}},
  {u'clouds': {u'all': 100},
   u'dt': 1573992000,
   u'dt_txt': u'2019-11-17 12:00:00',
   u'main': {u'grnd_level': 978,
    u'humidity': 97,
    u'pressure': 1013,
    u'sea_level': 1013,
    u'temp': 35.56,
    u'temp_kf': 0,
    u'temp_max': 35.56,
    u'temp_min': 35.56},
   u'rain': {u'3h': 0.69},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'light rain',
     u'icon': u'10n',
     u'id': 500,
     u'main': u'Rain'}],
   u'wind': {u'deg': 273, u'speed': 5.7}},
  {u'clouds': {u'all': 94},
   u'dt': 1574002800,
   u'dt_txt': u'2019-11-17 15:00:00',
   u'main': {u'grnd_level': 979,
    u'humidity': 82,
    u'pressure': 1013,
    u'sea_level': 1013,
    u'temp': 35.65,
    u'temp_kf': 0,
    u'temp_max': 35.65,
    u'temp_min': 35.65},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'overcast clouds',
     u'icon': u'04d',
     u'id': 804,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 298, u'speed': 7.43}},
  {u'clouds': {u'all': 96},
   u'dt': 1574013600,
   u'dt_txt': u'2019-11-17 18:00:00',
   u'main': {u'grnd_level': 978,
    u'humidity': 69,
    u'pressure': 1012,
    u'sea_level': 1012,
    u'temp': 38.14,
    u'temp_kf': 0,
    u'temp_max': 38.14,
    u'temp_min': 38.14},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'overcast clouds',
     u'icon': u'04d',
     u'id': 804,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 295, u'speed': 9.82}},
  {u'clouds': {u'all': 78},
   u'dt': 1574024400,
   u'dt_txt': u'2019-11-17 21:00:00',
   u'main': {u'grnd_level': 977,
    u'humidity': 68,
    u'pressure': 1011,
    u'sea_level': 1011,
    u'temp': 37.08,
    u'temp_kf': 0,
    u'temp_max': 37.08,
    u'temp_min': 37.08},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'broken clouds',
     u'icon': u'04d',
     u'id': 803,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 305, u'speed': 11.23}},
  {u'clouds': {u'all': 86},
   u'dt': 1574035200,
   u'dt_txt': u'2019-11-18 00:00:00',
   u'main': {u'grnd_level': 977,
    u'humidity': 73,
    u'pressure': 1012,
    u'sea_level': 1012,
    u'temp': 35.53,
    u'temp_kf': 0,
    u'temp_max': 35.53,
    u'temp_min': 35.53},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'overcast clouds',
     u'icon': u'04n',
     u'id': 804,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 298, u'speed': 8.32}},
  {u'clouds': {u'all': 100},
   u'dt': 1574046000,
   u'dt_txt': u'2019-11-18 03:00:00',
   u'main': {u'grnd_level': 977,
    u'humidity': 75,
    u'pressure': 1012,
    u'sea_level': 1012,
    u'temp': 34.92,
    u'temp_kf': 0,
    u'temp_max': 34.92,
    u'temp_min': 34.92},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'overcast clouds',
     u'icon': u'04n',
     u'id': 804,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 309, u'speed': 5.41}},
  {u'clouds': {u'all': 64},
   u'dt': 1574056800,
   u'dt_txt': u'2019-11-18 06:00:00',
   u'main': {u'grnd_level': 977,
    u'humidity': 88,
    u'pressure': 1011,
    u'sea_level': 1011,
    u'temp': 30.83,
    u'temp_kf': 0,
    u'temp_max': 30.83,
    u'temp_min': 30.83},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'broken clouds',
     u'icon': u'04n',
     u'id': 803,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 279, u'speed': 3.62}},
  {u'clouds': {u'all': 29},
   u'dt': 1574067600,
   u'dt_txt': u'2019-11-18 09:00:00',
   u'main': {u'grnd_level': 976,
    u'humidity': 88,
    u'pressure': 1011,
    u'sea_level': 1011,
    u'temp': 30.06,
    u'temp_kf': 0,
    u'temp_max': 30.06,
    u'temp_min': 30.06},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'scattered clouds',
     u'icon': u'03n',
     u'id': 802,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 298, u'speed': 2.1}},
  {u'clouds': {u'all': 62},
   u'dt': 1574078400,
   u'dt_txt': u'2019-11-18 12:00:00',
   u'main': {u'grnd_level': 976,
    u'humidity': 87,
    u'pressure': 1010,
    u'sea_level': 1010,
    u'temp': 30.25,
    u'temp_kf': 0,
    u'temp_max': 30.25,
    u'temp_min': 30.25},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'broken clouds',
     u'icon': u'04n',
     u'id': 803,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 7, u'speed': 0.11}},
  {u'clouds': {u'all': 77},
   u'dt': 1574089200,
   u'dt_txt': u'2019-11-18 15:00:00',
   u'main': {u'grnd_level': 976,
    u'humidity': 81,
    u'pressure': 1010,
    u'sea_level': 1010,
    u'temp': 32.25,
    u'temp_kf': 0,
    u'temp_max': 32.25,
    u'temp_min': 32.25},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'broken clouds',
     u'icon': u'04d',
     u'id': 803,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 98, u'speed': 2.68}},
  {u'clouds': {u'all': 79},
   u'dt': 1574100000,
   u'dt_txt': u'2019-11-18 18:00:00',
   u'main': {u'grnd_level': 976,
    u'humidity': 68,
    u'pressure': 1010,
    u'sea_level': 1010,
    u'temp': 38.01,
    u'temp_kf': 0,
    u'temp_max': 38.01,
    u'temp_min': 38.01},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'broken clouds',
     u'icon': u'04d',
     u'id': 803,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 109, u'speed': 1.88}},
  {u'clouds': {u'all': 58},
   u'dt': 1574110800,
   u'dt_txt': u'2019-11-18 21:00:00',
   u'main': {u'grnd_level': 975,
    u'humidity': 66,
    u'pressure': 1009,
    u'sea_level': 1009,
    u'temp': 39.45,
    u'temp_kf': 0,
    u'temp_max': 39.45,
    u'temp_min': 39.45},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'broken clouds',
     u'icon': u'04d',
     u'id': 803,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 347, u'speed': 1.9}},
  {u'clouds': {u'all': 29},
   u'dt': 1574121600,
   u'dt_txt': u'2019-11-19 00:00:00',
   u'main': {u'grnd_level': 976,
    u'humidity': 82,
    u'pressure': 1010,
    u'sea_level': 1010,
    u'temp': 33.19,
    u'temp_kf': 0,
    u'temp_max': 33.19,
    u'temp_min': 33.19},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'scattered clouds',
     u'icon': u'03n',
     u'id': 802,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 334, u'speed': 3.09}},
  {u'clouds': {u'all': 66},
   u'dt': 1574132400,
   u'dt_txt': u'2019-11-19 03:00:00',
   u'main': {u'grnd_level': 977,
    u'humidity': 84,
    u'pressure': 1011,
    u'sea_level': 1011,
    u'temp': 32.32,
    u'temp_kf': 0,
    u'temp_max': 32.32,
    u'temp_min': 32.32},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'broken clouds',
     u'icon': u'04n',
     u'id': 803,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 283, u'speed': 1.28}},
  {u'clouds': {u'all': 56},
   u'dt': 1574143200,
   u'dt_txt': u'2019-11-19 06:00:00',
   u'main': {u'grnd_level': 976,
    u'humidity': 88,
    u'pressure': 1011,
    u'sea_level': 1011,
    u'temp': 31.98,
    u'temp_kf': 0,
    u'temp_max': 31.98,
    u'temp_min': 31.98},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'broken clouds',
     u'icon': u'04n',
     u'id': 803,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 227, u'speed': 4.18}},
  {u'clouds': {u'all': 0},
   u'dt': 1574154000,
   u'dt_txt': u'2019-11-19 09:00:00',
   u'main': {u'grnd_level': 976,
    u'humidity': 95,
    u'pressure': 1011,
    u'sea_level': 1011,
    u'temp': 31.93,
    u'temp_kf': 0,
    u'temp_max': 31.93,
    u'temp_min': 31.93},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'clear sky',
     u'icon': u'01n',
     u'id': 800,
     u'main': u'Clear'}],
   u'wind': {u'deg': 219, u'speed': 5.7}},
  {u'clouds': {u'all': 10},
   u'dt': 1574164800,
   u'dt_txt': u'2019-11-19 12:00:00',
   u'main': {u'grnd_level': 976,
    u'humidity': 96,
    u'pressure': 1010,
    u'sea_level': 1010,
    u'temp': 31.82,
    u'temp_kf': 0,
    u'temp_max': 31.82,
    u'temp_min': 31.82},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'clear sky',
     u'icon': u'01n',
     u'id': 800,
     u'main': u'Clear'}],
   u'wind': {u'deg': 240, u'speed': 5.82}},
  {u'clouds': {u'all': 7},
   u'dt': 1574175600,
   u'dt_txt': u'2019-11-19 15:00:00',
   u'main': {u'grnd_level': 977,
    u'humidity': 89,
    u'pressure': 1011,
    u'sea_level': 1011,
    u'temp': 35.02,
    u'temp_kf': 0,
    u'temp_max': 35.02,
    u'temp_min': 35.02},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'clear sky',
     u'icon': u'01d',
     u'id': 800,
     u'main': u'Clear'}],
   u'wind': {u'deg': 243, u'speed': 5.77}},
  {u'clouds': {u'all': 37},
   u'dt': 1574186400,
   u'dt_txt': u'2019-11-19 18:00:00',
   u'main': {u'grnd_level': 976,
    u'humidity': 71,
    u'pressure': 1009,
    u'sea_level': 1009,
    u'temp': 41.27,
    u'temp_kf': 0,
    u'temp_max': 41.27,
    u'temp_min': 41.27},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'scattered clouds',
     u'icon': u'03d',
     u'id': 802,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 245, u'speed': 5.32}},
  {u'clouds': {u'all': 0},
   u'dt': 1574197200,
   u'dt_txt': u'2019-11-19 21:00:00',
   u'main': {u'grnd_level': 975,
    u'humidity': 66,
    u'pressure': 1009,
    u'sea_level': 1009,
    u'temp': 44.44,
    u'temp_kf': 0,
    u'temp_max': 44.44,
    u'temp_min': 44.44},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'clear sky',
     u'icon': u'01d',
     u'id': 800,
     u'main': u'Clear'}],
   u'wind': {u'deg': 238, u'speed': 5.44}},
  {u'clouds': {u'all': 4},
   u'dt': 1574208000,
   u'dt_txt': u'2019-11-20 00:00:00',
   u'main': {u'grnd_level': 976,
    u'humidity': 86,
    u'pressure': 1010,
    u'sea_level': 1010,
    u'temp': 38.3,
    u'temp_kf': 0,
    u'temp_max': 38.3,
    u'temp_min': 38.3},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'clear sky',
     u'icon': u'01n',
     u'id': 800,
     u'main': u'Clear'}],
   u'wind': {u'deg': 304, u'speed': 2.62}},
  {u'clouds': {u'all': 0},
   u'dt': 1574218800,
   u'dt_txt': u'2019-11-20 03:00:00',
   u'main': {u'grnd_level': 978,
    u'humidity': 89,
    u'pressure': 1012,
    u'sea_level': 1012,
    u'temp': 35.58,
    u'temp_kf': 0,
    u'temp_max': 35.58,
    u'temp_min': 35.58},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'clear sky',
     u'icon': u'01n',
     u'id': 800,
     u'main': u'Clear'}],
   u'wind': {u'deg': 13, u'speed': 2.51}},
  {u'clouds': {u'all': 0},
   u'dt': 1574229600,
   u'dt_txt': u'2019-11-20 06:00:00',
   u'main': {u'grnd_level': 979,
    u'humidity': 88,
    u'pressure': 1013,
    u'sea_level': 1013,
    u'temp': 33.71,
    u'temp_kf': 0,
    u'temp_max': 33.71,
    u'temp_min': 33.71},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'clear sky',
     u'icon': u'01n',
     u'id': 800,
     u'main': u'Clear'}],
   u'wind': {u'deg': 71, u'speed': 3.13}},
  {u'clouds': {u'all': 0},
   u'dt': 1574240400,
   u'dt_txt': u'2019-11-20 09:00:00',
   u'main': {u'grnd_level': 979,
    u'humidity': 89,
    u'pressure': 1014,
    u'sea_level': 1014,
    u'temp': 32.63,
    u'temp_kf': 0,
    u'temp_max': 32.63,
    u'temp_min': 32.63},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'clear sky',
     u'icon': u'01n',
     u'id': 800,
     u'main': u'Clear'}],
   u'wind': {u'deg': 91, u'speed': 5.06}},
  {u'clouds': {u'all': 25},
   u'dt': 1574251200,
   u'dt_txt': u'2019-11-20 12:00:00',
   u'main': {u'grnd_level': 980,
    u'humidity': 91,
    u'pressure': 1014,
    u'sea_level': 1014,
    u'temp': 32.65,
    u'temp_kf': 0,
    u'temp_max': 32.65,
    u'temp_min': 32.65},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'few clouds',
     u'icon': u'02n',
     u'id': 801,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 110, u'speed': 6.26}},
  {u'clouds': {u'all': 100},
   u'dt': 1574262000,
   u'dt_txt': u'2019-11-20 15:00:00',
   u'main': {u'grnd_level': 980,
    u'humidity': 87,
    u'pressure': 1015,
    u'sea_level': 1015,
    u'temp': 36.3,
    u'temp_kf': 0,
    u'temp_max': 36.3,
    u'temp_min': 36.3},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'overcast clouds',
     u'icon': u'04d',
     u'id': 804,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 115, u'speed': 8.43}},
  {u'clouds': {u'all': 100},
   u'dt': 1574272800,
   u'dt_txt': u'2019-11-20 18:00:00',
   u'main': {u'grnd_level': 979,
    u'humidity': 78,
    u'pressure': 1013,
    u'sea_level': 1013,
    u'temp': 42.26,
    u'temp_kf': 0,
    u'temp_max': 42.26,
    u'temp_min': 42.26},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'overcast clouds',
     u'icon': u'04d',
     u'id': 804,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 120, u'speed': 9.57}},
  {u'clouds': {u'all': 100},
   u'dt': 1574283600,
   u'dt_txt': u'2019-11-20 21:00:00',
   u'main': {u'grnd_level': 977,
    u'humidity': 80,
    u'pressure': 1011,
    u'sea_level': 1011,
    u'temp': 43.68,
    u'temp_kf': 0,
    u'temp_max': 43.68,
    u'temp_min': 43.68},
   u'sys': {u'pod': u'd'},
   u'weather': [{u'description': u'overcast clouds',
     u'icon': u'04d',
     u'id': 804,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 117, u'speed': 8.81}},
  {u'clouds': {u'all': 100},
   u'dt': 1574294400,
   u'dt_txt': u'2019-11-21 00:00:00',
   u'main': {u'grnd_level': 978,
    u'humidity': 92,
    u'pressure': 1012,
    u'sea_level': 1012,
    u'temp': 40.21,
    u'temp_kf': 0,
    u'temp_max': 40.21,
    u'temp_min': 40.21},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'overcast clouds',
     u'icon': u'04n',
     u'id': 804,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 104, u'speed': 6.98}},
  {u'clouds': {u'all': 100},
   u'dt': 1574305200,
   u'dt_txt': u'2019-11-21 03:00:00',
   u'main': {u'grnd_level': 977,
    u'humidity': 96,
    u'pressure': 1011,
    u'sea_level': 1011,
    u'temp': 40.3,
    u'temp_kf': 0,
    u'temp_max': 40.3,
    u'temp_min': 40.3},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'overcast clouds',
     u'icon': u'04n',
     u'id': 804,
     u'main': u'Clouds'}],
   u'wind': {u'deg': 100, u'speed': 5.66}},
  {u'clouds': {u'all': 100},
   u'dt': 1574316000,
   u'dt_txt': u'2019-11-21 06:00:00',
   u'main': {u'grnd_level': 975,
    u'humidity': 98,
    u'pressure': 1010,
    u'sea_level': 1010,
    u'temp': 39.99,
    u'temp_kf': 0,
    u'temp_max': 39.99,
    u'temp_min': 39.99},
   u'rain': {u'3h': 0.19},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'light rain',
     u'icon': u'10n',
     u'id': 500,
     u'main': u'Rain'}],
   u'wind': {u'deg': 25, u'speed': 1.28}},
  {u'clouds': {u'all': 100},
   u'dt': 1574326800,
   u'dt_txt': u'2019-11-21 09:00:00',
   u'main': {u'grnd_level': 975,
    u'humidity': 92,
    u'pressure': 1010,
    u'sea_level': 1010,
    u'temp': 37.26,
    u'temp_kf': 0,
    u'temp_max': 37.26,
    u'temp_min': 37.26},
   u'rain': {u'3h': 0.75},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'light rain',
     u'icon': u'10n',
     u'id': 500,
     u'main': u'Rain'}],
   u'wind': {u'deg': 335, u'speed': 12.37}},
  {u'clouds': {u'all': 100},
   u'dt': 1574337600,
   u'dt_txt': u'2019-11-21 12:00:00',
   u'main': {u'grnd_level': 976,
    u'humidity': 94,
    u'pressure': 1011,
    u'sea_level': 1011,
    u'temp': 33.53,
    u'temp_kf': 0,
    u'temp_max': 33.53,
    u'temp_min': 33.53},
   u'snow': {u'3h': 1.13},
   u'sys': {u'pod': u'n'},
   u'weather': [{u'description': u'light snow',
     u'icon': u'13n',
     u'id': 600,
     u'main': u'Snow'}],
   u'wind': {u'deg': 338, u'speed': 15.28}}],
 u'message': 0}

In [162]:
# begin parsing dictionary
data.keys()

[u'city', u'message', u'list', u'cod', u'cnt']

In [163]:
data['list'][0].keys()

[u'clouds', u'sys', u'dt_txt', u'weather', u'dt', u'main', u'wind']

In [164]:
# find that the list key brings us to the data that I am looking for
data['list'][0]['main']

{u'grnd_level': 988,
 u'humidity': 88,
 u'pressure': 1023,
 u'sea_level': 1023,
 u'temp': 35.31,
 u'temp_kf': -0.13,
 u'temp_max': 35.55,
 u'temp_min': 35.31}

In [165]:
# create a pandas dataframe from the dictionary
df = pd.DataFrame(json_normalize(data['list']))

In [166]:
df.head()

,clouds.all,dt,dt_txt,main.grnd_level,main.humidity,main.pressure,main.sea_level,main.temp,main.temp_kf,main.temp_max,main.temp_min,rain.3h,snow.3h,sys.pod,weather,wind.deg,wind.speed
0,100,1573916400,2019-11-16 15:00:00,988,88,1023,1023,35.31,-0.13,35.55,35.31,NaN,NaN,d,"[{u'description': u'overcast clouds', u'main':...",163,15.28
1,100,1573927200,2019-11-16 18:00:00,987,71,1021,1021,41.13,-0.10,41.31,41.13,NaN,NaN,d,"[{u'description': u'overcast clouds', u'main':...",170,15.75
2,85,1573938000,2019-11-16 21:00:00,983,68,1018,1018,41.52,-0.07,41.63,41.52,NaN,NaN,d,"[{u'description': u'overcast clouds', u'main':...",170,13.27
3,89,1573948800,2019-11-17 00:00:00,984,83,1018,1018,36.90,-0.04,36.95,36.90,NaN,NaN,n,"[{u'description': u'overcast clouds', u'main':...",166,10.94
4,100,1573959600,2019-11-17 03:00:00,982,88,1017,1017,36.63,0.00,36.63,36.63,NaN,NaN,n,"[{u'description': u'overcast clouds', u'main':...",176,11.34

In [167]:
# the weather column contains a list with a dictionary in it
# I will be seperating it to create its own dataframe and then bringing it back into the main dataframe

# name columns
cols = df['weather'][0][0].keys()
df_weather = pd.DataFrame(columns=cols)

# create dataframe row from each dictionarry list
for row in range(len(df)):
    df_weather = df_weather.append(df['weather'][row][0], ignore_index=True)

In [168]:
#rename columns and remove id columns
df_weather.rename(columns = {'description':'weather.desc', 'main':'weather.main'}, inplace = True)
df_weather = df_weather[['weather.desc', 'weather.main']]
df_weather.head()

      weather.desc weather.main
0  overcast clouds       Clouds
1  overcast clouds       Clouds
2  overcast clouds       Clouds
3  overcast clouds       Clouds
4  overcast clouds       Clouds

In [169]:
# remove old weather column and add new weather columns
df = pd.concat([df.drop('weather',1),df_weather], axis=1)

In [170]:
df.head()

,clouds.all,dt,dt_txt,main.grnd_level,main.humidity,main.pressure,main.sea_level,main.temp,main.temp_kf,main.temp_max,main.temp_min,rain.3h,snow.3h,sys.pod,wind.deg,wind.speed,weather.desc,weather.main
0,100,1573916400,2019-11-16 15:00:00,988,88,1023,1023,35.31,-0.13,35.55,35.31,NaN,NaN,d,163,15.28,overcast clouds,Clouds
1,100,1573927200,2019-11-16 18:00:00,987,71,1021,1021,41.13,-0.10,41.31,41.13,NaN,NaN,d,170,15.75,overcast clouds,Clouds
2,85,1573938000,2019-11-16 21:00:00,983,68,1018,1018,41.52,-0.07,41.63,41.52,NaN,NaN,d,170,13.27,overcast clouds,Clouds
3,89,1573948800,2019-11-17 00:00:00,984,83,1018,1018,36.90,-0.04,36.95,36.90,NaN,NaN,n,166,10.94,overcast clouds,Clouds
4,100,1573959600,2019-11-17 03:00:00,982,88,1017,1017,36.63,0.00,36.63,36.63,NaN,NaN,n,176,11.34,overcast clouds,Clouds

In [171]:
# identifying that the dataframe shows NaN when there is no rain
df['rain.3h'].isna().sum()

35

In [172]:
# changing the rain column to show 0 when there is no rain rather than NaN
df['rain.3h'].fillna(0, inplace=True)

In [173]:
df.head()

,clouds.all,dt,dt_txt,main.grnd_level,main.humidity,main.pressure,main.sea_level,main.temp,main.temp_kf,main.temp_max,main.temp_min,rain.3h,snow.3h,sys.pod,wind.deg,wind.speed,weather.desc,weather.main
0,100,1573916400,2019-11-16 15:00:00,988,88,1023,1023,35.31,-0.13,35.55,35.31,0.0,NaN,d,163,15.28,overcast clouds,Clouds
1,100,1573927200,2019-11-16 18:00:00,987,71,1021,1021,41.13,-0.10,41.31,41.13,0.0,NaN,d,170,15.75,overcast clouds,Clouds
2,85,1573938000,2019-11-16 21:00:00,983,68,1018,1018,41.52,-0.07,41.63,41.52,0.0,NaN,d,170,13.27,overcast clouds,Clouds
3,89,1573948800,2019-11-17 00:00:00,984,83,1018,1018,36.90,-0.04,36.95,36.90,0.0,NaN,n,166,10.94,overcast clouds,Clouds
4,100,1573959600,2019-11-17 03:00:00,982,88,1017,1017,36.63,0.00,36.63,36.63,0.0,NaN,n,176,11.34,overcast clouds,Clouds

In [174]:
# created a datetime column from unix time in dt
from datetime import datetime
date_time = []
for dt in df['dt']:
    date_time.append(datetime.fromtimestamp(dt))

df['dt'] = date_time

In [175]:
df.head()

,clouds.all,dt,dt_txt,main.grnd_level,main.humidity,main.pressure,main.sea_level,main.temp,main.temp_kf,main.temp_max,main.temp_min,rain.3h,snow.3h,sys.pod,wind.deg,wind.speed,weather.desc,weather.main
0,100,2019-11-16 09:00:00,2019-11-16 15:00:00,988,88,1023,1023,35.31,-0.13,35.55,35.31,0.0,NaN,d,163,15.28,overcast clouds,Clouds
1,100,2019-11-16 12:00:00,2019-11-16 18:00:00,987,71,1021,1021,41.13,-0.10,41.31,41.13,0.0,NaN,d,170,15.75,overcast clouds,Clouds
2,85,2019-11-16 15:00:00,2019-11-16 21:00:00,983,68,1018,1018,41.52,-0.07,41.63,41.52,0.0,NaN,d,170,13.27,overcast clouds,Clouds
3,89,2019-11-16 18:00:00,2019-11-17 00:00:00,984,83,1018,1018,36.90,-0.04,36.95,36.90,0.0,NaN,n,166,10.94,overcast clouds,Clouds
4,100,2019-11-16 21:00:00,2019-11-17 03:00:00,982,88,1017,1017,36.63,0.00,36.63,36.63,0.0,NaN,n,176,11.34,overcast clouds,Clouds